@media screen and (min-width:960px) {
  .footer-new {
    font-family: 'Source Sans Pro';
    letter-spacing: -0.4px;
    background-color: #E8E8E8;
    height: 411px;
    padding-left: 30px;
    padding-right: 30px;

  }

  .link-section-container-new {
    border-bottom: 1px solid #C4C4C4;
    height: 349px;
    /*padding-bottom: 30px;*/
  }

  .link-subject-new {
    width: 133px;
    float: left;
    margin-right: 20px;
  }

  .link-subject-last-new {
    width: 133px;
    float: left;
  }

  .footer-new ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  .footer-new ul li {
    margin-top: 16px;
    line-height: 16px;
    font-size: 16px;

  }

  .footer-new a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
  }

  .footer-new h4 {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 0;
    margin-top: 30px;
  }

  .bottom-new {
    padding-left: 0;
    padding-right: 0;
  }

  .social-container-new {
    padding: 0;
    margin: 0;
  }

  .social-container-new a {
    padding: 0;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    float: left;
    margin-top: 12px;
  }

  .social-container-new a img {
    padding: 0;
    width: 30px;
    height: 30px;
  }

  .address-container-new {
    padding: 0;
  }

  .address-container-new div {
    font-size: 16px;
    padding-top: 19px;
    margin: 0;
    text-align: right;
  }

  .mobile-footer-new {
    display: none;
  }
}

@media screen and (max-width:959px) {
  body{
    width: 100vw;
  }

  .link-section-container-new, .bottom-new{
    display: none;
  }

  .footer-new{
    font-family: 'Source Sans Pro';
    background-color: #E8E8E8;
    height: 100vw;
    width: 100vw;
    letter-spacing: -0.4px;
  }

  .social-link-new{
    width: 42.66vw;
    float: left;
  }

  .small-links-new {
    /*margin-left: -15px;*/
    /*width: 42.66vw;*/
  }

  .small-links-new a {
    font-size: 4.26vw;
    padding-top: 8vw;
    text-decoration: none;
    color: #333333;
    width: 42.66vw;
    border: 1px solid red;
  }

  .small-links-new a:hover{
    color: #333333;
    text-decoration: none;
  }

  .social-small-new {
    padding-top: 5.33vw;
    padding-bottom: 0;
    margin: 0;
    padding-left: 12.53vw;
    /*margin-left: -15px;*/
    /*margin-right: -15px;*/
  }

  .social-small-new a {
    padding: 0;
    padding-bottom: 5.33vw;
    width: 12vw;
    margin-right: 4vw;
    float: left;

  }

  .social-small-new a img {
    padding: 0;
    width: 12vw;
    height: 12vw;
  }

  .small-border-bottom-new {
    border-bottom: 0.533vw solid #979797;
    width: 89.6vw;
    margin-left: 5.2vw;
    margin-right: auto;
    clear: both;
  }

  .address-small-new {
    padding-top: 5.06vw;
    padding-bottom: 8vw;
    color: #333333;
    clear: both;
  }

  .address-small-new div {
    padding: 0;
    font-size: 4.26vw;
    color: #333333;
  }

  .address-small-new div:last-of-type{
    padding-top: 1.6vw;
  }
}
