/*DESKTOP STYLES FOR REACT HEADER*/
body {
    width:960px;
    margin: auto;
}

@media screen and (min-width: 959px){

    /*globals*/
    .remove-a-style {
        text-decoration: none;
    }

    /*REMOVES OUTLINE WHEN CLICKING LINKS*/



    .mobileHeaderContainerNew {
        display: none;
    }

    .header-new {
        background-color: white;
        height: 107px;
        width: 960px;
        margin: auto;
        box-sizing: border-box;
        font-family: 'Source Sans Pro', sans-serif;
    }

    /*navbar container*/
    .navbar-new {
        position: relative;
        height: 103px;
        width: 960px;
    }

    .logo-new {
        position: absolute;
        width: 169px;
        height: auto;
        left: 0;
        bottom: 21px;
    }

    /*main nav bar*/
    .main-nav-new {
        position: absolute;
        font-weight: bold;
        top: 59px;
        bottom: 0;
        right: 0;
        margin: 0;
    }

    .main-nav-new > ul {
        margin: 0;
        padding: 0;

        list-style-type: none;
    }


    .main-nav-new > ul > li {
        /*floats the navbar ro the right*/
        float: right;
    }

    .main-nav-new > ul > li {
        /*reverses the order of the navs so they are semantic and arranged left to right*/
        float: left;
    }

    .main-btn-new {
        position: relative;
        top: 0;
        display: inline-block;
        line-height: 18px;
        padding-left: 7px;
        padding-right: 7px;
        height: 43px;
        cursor: pointer;
    }



    .main-btn-new > span {
        color: #0B97DD;
        font-size: 17px;
        text-decoration: none;
    }

    .main-btn-new > span:first-child {
        margin-left: 0;
    }

    .triangle-new {
        visibility: hidden;
        position: absolute;
        height: 0;
        width: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-bottom: 8px solid #0B97DD;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-top: 0;
    }

    .main-btn-new:hover .triangle-new {
        visibility: visible;
    }

    /*dropdown menu*/
    .main-menu-new {
        position: fixed;
        visibility: hidden;
        border-top: 5px solid #0B97DD;
        background-color: white;
        height: 359px;
        width: 960px;
        left: 379px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .main-nav-new > ul > li:hover > a + ul {
        visibility: visible;
    }

    .main-nav-new > ul > li:hover > a > .triangle-new {
        visibility: visible;
    }

    /*.main-btn-new:hover + ul {*/
    /*visibility: visible;*/
    /*}*/

    /*.main-btn-new:focus + ul {*/
    /*visibility: visible;*/
    /*}*/

    /*.main-menu-new:hover {*/
    /*visibility: visible;*/
    /*}*/



    /*mini nav bar*/
    .mini-nav-new{
        position: absolute;
        top: 29px;
        right: 0;
    }

    .mini-nav-new > a {
        color: #757575;
        font-size: 13px;
        line-height: 14px;
        margin-left: 11px;
    }

    .mini-nav-new > i {
        color: #757575;
        font-size: 13px;
        line-height: 14px;
        margin-left: 11px;
    }
}



@media screen and (max-width:959px) {

    .header-new{
        display: none;
    }

    body {
        margin: 0;
    }

    .mobileHeaderContainerNew {
        font-family: "Source Sans Pro";
        width: 100%;
    }

    .mobileMainHeaderNew {
        height: 16vw;
        box-shadow: 0 0.266vw 0 0 #EBEBEB;
    }

    .logoNew {
        position: absolute;
        height: 9.6vw;
        width: auto;
        left: 5.33vw;
        top: 3.2vw;
    }

    .menuBtnNew {
        position: absolute;
        right: 5.33vw;
        top: 3.2vw;
        /*width: 24vw;*/
        /*height: 9.6vw;*/
        width: 22.934vw;
        height: 8.534vw;
        font-size: 3.2vw;
        line-height: 9.6vw;
        color: #0B97DD;
        text-decoration: none;
        font-weight: bold;
        border: 0.533vw solid #0B97DD;
    }

    .menuBtnTextNew {
        height: 9.6vw;
        margin-top: -.533vw;
        padding-left: 3.73vw;
        float: left;
    }

    .menuIconHamburgerNew{
        height: 3.466vw;
        width: 4vw;
        margin-right: 3.466vw;
        /*margin-top: 3.2vw;*/
        margin-top: 2.667vw;
        float: right;
    }

    .menuIconCloseNew{
        height: 3.466vw;
        width: 4vw;
        margin-right: 3.466vw;
        /*margin-top: 3.2vw;*/
        margin-top: 2.667vw;
        float: right;
        display: none;
    }

    .mobileSearchNew{
        width: 100%;
    }

    .mainNavNew {
        width: 100%;
        display: none;
    }

    .mobileSearchContainerNew {
        background-color: #EBEBEB;
        height: 16vw;
        margin-bottom: 0;
        position: relative;
    }

    .searchIconContainerNew {
        position: absolute;
        height: 4vw;
        width: 4vw;
        top: 5.9vw;
        left: 8vw;
        z-index: 1;
    }

    .searchIconNew {
        height: 4vw;
        width: auto;
    }

    .searchInputFieldNew {
        position: absolute;
        margin-top: 2.93vw;
        height: 10.13vw;
        width: 89.33vw;
        margin-left: 5.33vw;
        font-size: 3.73vw;
        line-height: 4.8vw;
        color: #666666;
        text-indent: 7.466vw;
        border: 0.266vw solid #C4C4C4;
    }

    .mainNavNew div a {
        font-size: 4.8vw;
        border-bottom: 0.266vw solid #DBDBDB;
        padding-left: 12.8vw;
        margin-left: 0;
        text-decoration: none;
        display: block;
        height: 16vw;
        line-height: 16vw;
    }

    .navLinkNew {
        font-weight: bold;
        color: #0B97DD;
    }

    .navLinkSpecialNew{
        color: #666666;
    }

    .navLinkNearIconNew{
        margin-right: 4vw;
        height: 4.8vw;
        width: auto;
        vertical-align: middle;
        padding-left: .6vw;
        margin-top: -1.3vw;
    }

    .navLinkCalendarIconNew{
        margin-right: 3.2vw;
        height: 4.8vw;
        width: auto;
        vertical-align: middle;
        margin-top: -1.3vw;
    }

    .test{
        height: 200px;
    }
}


