/*DESKTOP STYLES FOR REACT HEADER*/
body {
    width:960px;
    height: 3000px;
    margin: auto;
    background-color: red;
}

@media screen and (min-width: 959px){

    /*!!!!!!!!!!!!!!!!!!!!!!!TEST HEADER REMOVE AFTER DEV*/
    .test-dropdown {
        visibility: visible !important;
    }

    .normalize-menu-item {
        text-decoration: none;
        list-style: none;
    }

    .mobileHeaderContainerNew {
        /*hides mobile header*/
        display: none;
    }

    .header-new {
        background-color: white;
        height: 107px;
        width: 960px;
        margin: auto;
        box-sizing: border-box;
        font-family: 'Source Sans Pro', sans-serif;
    }

    /*NAVBAR CONTAINER*/
    .navbar-new {
        position: relative;
        height: 103px;
        width: 960px;
    }

    .logo-new {
        position: absolute;
        width: 169px;
        height: auto;
        left: 0;
        bottom: 21px;
    }

    /*BOTTOM NAV BAR*/
    .main-nav-new {
        /*container for bottom nav bar*/
        position: absolute;
        font-weight: bold;
        width: 725px;
        top: 59px;
        bottom: 0;
        right: 0;
        margin: 0;
    }

    .main-nav-new > ul {
        /*remove styling for ul in bottom nav*/
        margin: 0;
        padding: 0;
        list-style-type: none;
    }


    .main-nav-new > ul > li {
        /*floats the navbar ro the right*/
        float: right;
    }

    .main-nav-new > ul > li {
        /*reverses the order of the navs so they are semantic and arranged left to right*/
        float: left;
    }

    .main-btn-new {
        /*container for menu button*/
        position: relative;
        top: 0;
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px;
        height: 43px;
        cursor: pointer;
    }

    .main-btn-new > span {
        /*text for menu button*/
        color: #0B97DD;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
    }

    .main-btn-new > span:first-child {
        margin-left: 0;
    }

    .triangle-new {
        /*little triangle in menu button*/
        visibility: hidden;
        position: absolute;
        height: 0;
        width: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-bottom: 8px solid #0B97DD;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-top: 0;
    }

    .main-btn-new:hover .triangle-new {
        visibility: visible;
    }

    /*DROPDOWN MENU*/
    .main-menu-new {
        position: absolute;
        visibility: hidden;
        border-top: 5px solid #0B97DD;
        background-color: white;
        padding: 0;
        padding-bottom: 40px;
        padding-top: 20px;
        width: 960px;
        left: -235px;
        list-style-type: none;
    }

    .main-nav-new > ul > li:hover > a + ul {
        visibility: visible;
    }

    .main-nav-new > ul > li:hover > a > .triangle-new {
        visibility: visible;
    }

    /*CONTENT INSIDE DROPDOWN MENU*/
    .column-new {
        /*columns for dropdown*/
        float: left;
        margin: 0;
        width: 33%;
        padding-left: 50px;
        list-style-type: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .column-new > li {
        /*all elements in drodown*/
        text-decoration: none;
        list-style: none;
        margin-bottom: 16px;
    }

    .column-new > li > h2 {
        /*dopdown headers*/
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
        color: #0B97DD;
    }

    .column-new > li > h2 > a {
        /*dopdown headers*/
        text-decoration: none;
        color: #0B97DD;
    }

    .column-new > li > h2 > a:hover {
        /*dopdown headers*/
        text-decoration: underline;
        color: #006BA2;
    }

    .column-new > li > a {
        /*dopdown links*/
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        font-weight: normal;
        color: #333333;
        text-decoration: none;
    }

    .column-new > li > a:hover {
        /*dopdown links*/
        text-decoration: underline;
    }

    /*TOP MINI NAV BAR*/
    .mini-nav-new{
        position: absolute;
        top: 29px;
        right: 0;
    }

    .mini-nav-new > a {
        color: #757575;
        font-size: 13px;
        line-height: 14px;
        margin-left: 11px;
    }

    .mini-nav-new > i {
        color: #757575;
        font-size: 13px;
        line-height: 14px;
        margin-left: 11px;
    }
}



@media screen and (max-width:959px) {

    .header-new{
        display: none;
    }

    body {
        margin: 0;
    }

    .mobileHeaderContainerNew {
        font-family: "Source Sans Pro";
        width: 100%;
    }

    .mobileMainHeaderNew {
        height: 16vw;
        box-shadow: 0 0.266vw 0 0 #EBEBEB;
    }

    .logoNew {
        position: absolute;
        height: 9.6vw;
        width: auto;
        left: 5.33vw;
        top: 3.2vw;
    }

    .menuBtnNew {
        position: absolute;
        right: 5.33vw;
        top: 3.2vw;
        /*width: 24vw;*/
        /*height: 9.6vw;*/
        width: 22.934vw;
        height: 8.534vw;
        font-size: 3.2vw;
        line-height: 9.6vw;
        color: #0B97DD;
        text-decoration: none;
        font-weight: bold;
        border: 0.533vw solid #0B97DD;
    }

    .menuBtnTextNew {
        height: 9.6vw;
        margin-top: -.533vw;
        padding-left: 3.73vw;
        float: left;
    }

    .menuIconHamburgerNew{
        height: 3.466vw;
        width: 4vw;
        margin-right: 3.466vw;
        /*margin-top: 3.2vw;*/
        margin-top: 2.667vw;
        float: right;
    }

    .menuIconCloseNew{
        height: 3.466vw;
        width: 4vw;
        margin-right: 3.466vw;
        /*margin-top: 3.2vw;*/
        margin-top: 2.667vw;
        float: right;
        display: none;
    }

    .mobileSearchNew{
        width: 100%;
    }

    .mainNavNew {
        width: 100%;
        display: none;
    }

    .mobileSearchContainerNew {
        background-color: #EBEBEB;
        height: 16vw;
        margin-bottom: 0;
        position: relative;
    }

    .searchIconContainerNew {
        position: absolute;
        height: 4vw;
        width: 4vw;
        top: 5.9vw;
        left: 8vw;
        z-index: 1;
    }

    .searchIconNew {
        height: 4vw;
        width: auto;
    }

    .searchInputFieldNew {
        position: absolute;
        margin-top: 2.93vw;
        height: 10.13vw;
        width: 89.33vw;
        margin-left: 5.33vw;
        font-size: 3.73vw;
        line-height: 4.8vw;
        color: #666666;
        text-indent: 7.466vw;
        border: 0.266vw solid #C4C4C4;
    }

    .mainNavNew div a {
        font-size: 4.8vw;
        border-bottom: 0.266vw solid #DBDBDB;
        padding-left: 12.8vw;
        margin-left: 0;
        text-decoration: none;
        display: block;
        height: 16vw;
        line-height: 16vw;
    }

    .navLinkNew {
        font-weight: bold;
        color: #0B97DD;
    }

    .navLinkSpecialNew{
        color: #666666;
    }

    .navLinkNearIconNew{
        margin-right: 4vw;
        height: 4.8vw;
        width: auto;
        vertical-align: middle;
        padding-left: .6vw;
        margin-top: -1.3vw;
    }

    .navLinkCalendarIconNew{
        margin-right: 3.2vw;
        height: 4.8vw;
        width: auto;
        vertical-align: middle;
        margin-top: -1.3vw;
    }

    .test{
        height: 200px;
    }
}


